<StackLayout>
    <Textview text="Отправка PUSH уведомлений" class="text"  editable="false"></Textview>    
    <Textview text="Что бы получать уведомления о акциях, скидках и новых товаров нажмите на кнопку 'Разрешить'." class="text pt14" editable="false"></Textview>    
    <Button text="Разрешить" (tap)="allowPush()" class="btn" *ngIf="!push"></Button>
    <Label text="Перейти к приложению" class="link" (tap)="finish()" *ngIf="!push"></Label>
    <Button text="Завершить" (tap)="finish()" class="btn" *ngIf="push"></Button>
</StackLayout>