.text{
    font: 20pt;
    width: 80%;
    margin: 15pt auto 0;
    background-color: #eef2fb;
    font-family: "Calibri-Light";
    text-align: center;
    font-weight: bold;
}

.pt14{
    font: 14pt;
    font-weight: normal;
    margin-top: 0;
}

.btn{
    width: 70%;
    margin: 10pt auto 0;
    font-family: "Calibri-Light";
    background-color: #22b24c;
    font-family: "Calibri-Light";
    font-size: 18pt;
    border-radius: 15;
    color: white;
}

.link{
    font: 14pt;
    width: 80%;
    margin: 15pt auto 0;
    font-family: "Calibri-Light";
    color: #22b24c;
    text-decoration: underline;
    text-align: center;
}