<StackLayout>
    <Image src="~/images/logo.png" id="logo" ></Image>
    <!--<Label id="logo" text="Загрузка" [class]="loadingClass" (swipe)="onSwipe($event)"></Label>-->
    <!--<Label id="Line"></Label>-->
    <Label text="Загрузка" class="loadingPrc" id="text"></Label>
    <ActivityIndicator busy="true" id="loader"></ActivityIndicator>
    <!--<Label [text]="type" *ngFor="let type of sharedService.fullLoad"></Label>-->
</StackLayout>