#logo{
    width: 40%;
    font-size: 30pt;
    text-align: center;
    font-family: "Calibri-Light";
    margin-top: 25%;
    opacity: 0;
}

#loader{
    opacity: 0;
}

#text{
    opacity: 0;
}

#Line{
    height: 1;
    background-color: black;
    width: 10;
}

.off{
    animation-name: opacity;
    animation-duration: 1;
}

.loadingPrc{
    width: 100%;
    font-size: 20pt;
    text-align: center;
    font-family: "Calibri-Light";
    margin-top: 5;
}

@keyframes opacity {
    from { opacity: 1; }
    to { opacity: 0; }
}