<StackLayout>
    <GridLayout columns="50, *, 50" width="100%" height="40" [class]="className">
        <Label text="&#xf0c9;" class="font-awesome leftBar" row="0" col="0" (tap)="ngOpenMenu($event)" *ngIf="!back"></Label>
        <Label text="&#xf104;" class="font-awesome leftBar" row="0" col="0" (tap)="ngBack($event)" *ngIf="back"></Label>
        <Label [text]="title" row="0" col="1" class="centerBar"></Label>
        <AbsoluteLayout row="0" col="2" (tap)="goToBasket()" class="right" *ngIf="basket">
            <Image src="~/images/basket.png" top="7" left="15" width="25"></Image>
            <Label [text]="basketCount"  class="badgetBasketBar" top="0" left="25" *ngIf="basketCount > 0" id="badgetId"></Label>
        </AbsoluteLayout>
    </GridLayout>
</StackLayout>