.myBar{
    /*border-bottom-width: 1;
    border-bottom-style: solid;
    border-bottom-color: #cdd1d9;*/
    /*box-shadow: 0px 10px 20px -5px rgba(0,0,0,0.35);*/
}

.iosBar{

}

.androidBar{
    margin-top: 12;
    margin-bottom: 0;
}

.leftBar{
    text-align: left;
    padding-left: 10;
}

.centerBar{
    text-align: center;
    font-size: 20;
    font-family: "Calibri-Light";
}

.rightBar{
    text-align: right;
    padding-right: 10;
}

.right{
    margin-left: auto;

}

.badgetBasketBar{
    text-align: center;
    background-color: #22b24c;
    width: 20;
    height: 20;
    padding-top: 2;

    border-radius: 10;
    color: white;
    font-size: 12;
    font-family: "Calibri-Light";
}

#gr{
    width: 100%;
    
}