.get-phone{
    margin-top: -20pt;
}

.btn{
    width: 70%;
    margin: 10pt auto 0;
    font-family: "Calibri-Light";
    background-color: #22b24c;
    font-family: "Calibri-Light";
    font-size: 18pt;
    border-radius: 15;
    color: white;
}

.btn-gray{
    color: black;
    background-color: gray;
}

TextField{
    width: 100%;
    font-size: 30pt;
    text-align: center;
    font-family: "Calibri-Light";

    border-width: 1;
    border-color: #eef2fb;
    height: 38;
    padding: 0;

    animation-name: opacity;
    animation-duration: 1;
}

.text{
    font: 14pt;
    text-align: center;
    width: 70%;
    margin: 5pt auto 0;
    background-color: #eef2fb;
    height: 16pt;
    font-family: "Calibri-Light";
}

.delimiter{
    height: 2;
    background-color: #a8a8a8;
    width: 70%;
    margin: 10pt auto 0;
}

.desc{
    font: 14pt;
    width: 80%;
    margin: 15pt auto 0;
    background-color: #eef2fb;
    font-family: "Calibri-Light";
    text-align: center;
}


.link{
    font: 14pt;
    width: 80%;
    margin: 15pt auto 0;
    font-family: "Calibri-Light";
    color: #22b24c;
    text-decoration: underline;
    text-align: center;
}