<!--<ScrollView>-->
<StackLayout class="get-phone">
    <Image #img src="~/images/code-header.jpg"></Image>
    
    <TextField 
        #code
        keyboardType="phone" 
        focus="true"
            ></TextField>
            
    <Label class="delimiter"></Label>
    <Label text="Введите 4х значный код из смс" class="text"></Label>
    <Button text="завершить" (tap)="onFinish()" class="btn" *ngIf="!isLoading"></Button>
    <Button text="отправка" class="btn btn-gray" *ngIf="isLoading"></Button>

    <Textview *ngIf="timer > 0" class="desc" text="Мы отправиди вам смс с кодом активации. Выслать повторный код активанции можно будет через {{timer}} сек." editable="false"></Textview>
    <Label *ngIf="timer == 0" text="Выслать повторно код активации" class="link" (tap)="resendCode()"></Label>

</StackLayout>
<!--</ScrollView>-->
