<StackLayout>
    <my-action-bar title="Подтверждение заказа" back="true" [basket]="false"></my-action-bar>
    <AbsoluteLayout width="100%">
        <Label top="0" left="0" class="shadow"></Label>
        <ScrollView [height]="listViewHeight" top="0" left="0" [style.zIndex]="1" width="100%" class="bg"> 
            <StackLayout class="continer">
                <!--Итог-->
                <StackLayout class="boxWhite" width="100%"> 
                    <GridLayout columns="20, *" class="gridTitle">
                        <Image src="~/images/final.png" width="17" col="0" class="imageTitle"></Image>
                        <Label text="Итог" class="title" col="1"></Label>
                    </GridLayout>
                    <StackLayout>
                        <GridLayout columns="20, *" class="row">
                            <Image class="imageTitle" src="~/images/check.png" col="0" width="20" (tap)="sharedService.basket.address_id = 0"></Image>
                            <Label [text]="address" class="textInRowTitle" col="1" (tap)="sharedService.basket.address_id = 0"></Label>
                        </GridLayout>

                        <Label class="delimiter"></Label>

                        <GridLayout columns="20, *" class="row">
                            <Image class="imageTitle" src="~/images/check.png" col="0" width="20" (tap)="sharedService.basket.address_id = 0"></Image>
                            <Label [text]="date" class="textInRowTitle" col="1" (tap)="sharedService.basket.address_id = 0"></Label>
                        </GridLayout>

                        <Label class="delimiter"></Label>

                        <GridLayout columns="20, *" class="row">
                            <Image class="imageTitle" src="~/images/check.png" col="0" width="20" (tap)="sharedService.basket.address_id = 0"></Image>
                            <Label [text]="allSumText" class="textInRowTitle" col="1" (tap)="sharedService.basket.address_id = 0"></Label>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>
                
                <!--Оплата-->
                <StackLayout class="boxWhite" width="100%">
                    <GridLayout columns="20, *" class="gridTitle">
                        <Image src="~/images/pay.png" width="17" col="0" class="imageTitle"></Image>
                        <Label text="Оплата" class="title" col="1"></Label>
                    </GridLayout>

                    <StackLayout>
                        <GridLayout columns="20, *" class="row">
                            <Image class="imageTitle" src="~/images/radio-active.png" col="0" width="20" (tap)="sharedService.basket.address_id = 0"></Image>
                            <Label text="Наличными курьеру" class="textInRowTitle" col="1" (tap)="sharedService.basket.address_id = 0"></Label>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>


                <Button text="Подтвердить и завершить заказ" (tap)="finish()" class="btn"></Button>
            </StackLayout>
        </ScrollView>
    </AbsoluteLayout>
    
</StackLayout>


