.boxWhite{
    background-color: white;
    font-family: "Calibri-Light";
    margin-bottom: 10;
    padding-top: 10;
    padding-bottom: 10;
}

.gridTitle{
    padding-bottom: 10;
}

.iosgridTitle{

}

.androidgridTitle{
    
}

.title{
    color: #5871b6;
    font-size: 20;
    margin: 10 5%
}

.imageTitle{
    margin-left: 5%;
}

.btn{
    text-align: center;
    margin: 10 auto;
    background-color: #22b24c;
    font-family: "Calibri-Light";
    font-size: 18;
    color: white;
    border-radius: 10;
    padding: 5 10;
    width: 80%;
}

.delimiter{
    border-bottom-width: 1;
    border-bottom-color: #5871b6;
    text-align: center;
    height: 1;
    width: 90%;
    margin: 10 auto;
    background-color: #5871b6;
}

.textInRowTitle{
    margin: 5 0 0 17;
    font-size: 16;
}

.bg{
    background-image: url('~/images/bg-final.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
}