<!--<Label text="First" [nsRouterLink]="['/getphone']"></Label>
    <Label text="Main Page"></Label>
<Label nsRouterLink="/getphone" text="test"></Label>-->
<StackLayout>
    <RadSideDrawer tkExampleTitle tkToggleNavButton *ngIf="!isDisplayPhoneActivate">
        <StackLayout tkDrawerContent class="sideStackLayout">
            <StackLayout class="sideTitleStackLayout">
                <Label text="Navigation Menu"></Label>
            </StackLayout>
            <StackLayout class="sideStackLayout">
                <Label text="Primary" class="sideLabel sideLightGrayLabel"></Label>
                <Label text="Social" class="sideLabel"></Label>
                <Label text="Promotions" class="sideLabel"></Label>
                <Label text="Labels" class="sideLabel sideLightGrayLabel"></Label>
                <Label text="Important" class="sideLabel"></Label>
                <Label text="Starred" class="sideLabel"></Label>
                <Label text="Sent Mail" class="sideLabel"></Label>
                <Label text="Drafts" class="sideLabel"></Label>
            </StackLayout>
        </StackLayout>
        <StackLayout tkMainContent>
            <Label [text]="mainContentText" textWrap="true" class="drawerContentText"></Label>
            <Button text="OPEN DRAWER" (tap)=openDrawer()></Button>
            <index-page></index-page>
        </StackLayout>
    </RadSideDrawer>

    <get-phone [api]="apiService" *ngIf="isDisplayPhoneActivate"></get-phone>
</StackLayout>
