<StackLayout>
    <ScrollView [height]="scroll">
        <StackLayout>
            <Label *ngIf="params.context.type == 'add'" text="Добавить адрес" class="title"></Label>
            <Label *ngIf="params.context.type != 'add'" text="Изменить адрес" class="title"></Label>

            <StackLayout class="row" *ngIf="errorDisplay"> 
                <Label text="Все поля должны быть заполнены" id="errorDisplay"></Label>
            </StackLayout>

            <StackLayout>
                <StackLayout class="row">
                    <Label text="Название адреса доставки"></Label> 
                    <TextField #name hint="Дом или Офис"></TextField>
                </StackLayout>
                <StackLayout class="row">
                    <Label text="Город"></Label>
                    <TextField #city></TextField>
                </StackLayout>

                <StackLayout class="row">
                    <Label text="Улица"></Label>
                    <TextField #street></TextField> 
                </StackLayout>
            </StackLayout>
            <GridLayout columns="*,10,*,10,*" class="row2">
                <StackLayout col="0">
                    <Label text="Дом"></Label>
                    <TextField #house></TextField>
                </StackLayout>

                <StackLayout col="2">
                    <Label text="Корпус"></Label>
                    <TextField #corpus></TextField>
                </StackLayout>

                <StackLayout col="4">
                    <Label text="Квартира"></Label>
                    <TextField #room></TextField>
                </StackLayout>
            </GridLayout>

            
            
            

            <GridLayout columns="*,10,*" class="row2" *ngIf="params.context.type == 'add'">
                <Button text="Отмена" (tap)="close()" class="btn cancel" col="0"></Button>    
                <Button text="Добавить" (tap)="add()" col="2" class="btn" *ngIf="!isSubmit"></Button>
                <Button text="Добавление" col="2" class="btn cancel" *ngIf="isSubmit"></Button>
            </GridLayout>

            <GridLayout columns="*,10,*" class="row2" *ngIf="params.context.type == 'edit'">
                <Button text="Отмена" (tap)="close()" class="btn cancel" col="0"></Button>    
                <!--<Button text="Удалить" (tap)="delete()" class="btn warning" col="2"></Button>-->
                <Button text="Сохранить" (tap)="save()" class="btn" col="2"  *ngIf="!isSubmit"></Button>
                <Button text="Сохранение" col="2" class="btn cancel" *ngIf="isSubmit"></Button>
            </GridLayout>

            <Label [height]="height_padding"></Label>

            
            
            
            <!--*ngIf="params.context.type == 'add'"-->
            
        </StackLayout>
    </ScrollView>
</StackLayout>


