.slidesCatalog{
  height: 150;
  background-color: white;
}

.slidesCatalog slide{
  background-color: white;
}

.filterLabel{
  text-align: center;
  width: 100%;
  font-size: 20;
  font-family: "Calibri-Light";
  padding: 35 0px;
  height: 100;
}

.filterImage{
  width: 100;
  height: 100;
  border-radius: 50;
  margin: 10 0;
}

.notFoundProducts{
  text-align: center;
  width: 100%;
  margin-top: 20%;
  font-family: "Calibri-Light";
}


.titleProductCatalog{
  font-family: "Calibri-Light";
  font-size: 25;
  width: 90%;
  margin-left: 5%;
  color: #fff59a;
  font-weight: bold;
}

.descSmallProductCatalog{
  font-family: "Calibri-Light";
  font-size: 18;
}

.priceProductCatalog{
  font-family: "Calibri-Light";
  font-size: 18;
  text-align: center;
  padding-top: 2;
}

.addBasketBtn{
  font-family: "Calibri-Light";
  font-size: 16;
  background-color: #22b24c;
  color: white;
  border-radius: 10;
  text-align: center;
  padding: 2 0;
  margin:2 2 2 0;
}

.addBasketGrid{
  border-width: 1;
  border-color: white;
  border-radius: 12;
  margin-left: 5%;
}

.priceProductCatalog{
  color: white;
  font-weight: bold;
  font-family: "Calibri-Light";
  font-size: 16;
}

.descSmallProductCatalog{
  font-family: "Calibri-Light";
  font-size: 16;
  color: white;
  width: 90%;
  margin-left: 5%;
  margin-right: 2.5%;
}


.gradient{
  width: 100%;
  height: 150;
  /*background-repeat: repeat;*/
  background-position: top;
}

.gradientandroid{
  opacity: 0.7;
}

.done{
  font-family: "Calibri-Light";
  font-size: 18;
  color: white;
  text-align: center;
  width: 100%;
  padding: 3 0;
}

.success{
  opacity: 0;
}
