<StackLayout>
    <RadSideDrawer tkExampleTitle tkToggleNavButton *ngIf="!isDisplayPhoneActivate">
        <GridLayout tkDrawerContent class="sideStackLayout" columns="*, 10">
            <StackLayout col="0">
                <Image src="~/images/logo.jpg" class="logoMenu"></Image>
                <Label text="Главная" class="sideLabel" (tap)="onIndexTap()"></Label>
                <Label *ngFor="let menu of sharedService.data; let i=index" [text]="menu.title + ' ' + menu.title_small " class="sideLabel" (tap)="onMenuTap(menu)"></Label>
            </StackLayout>
            <Label text="" col="2" backgroundColor="#eef2fb" width="10"></Label> 
        </GridLayout>
        <StackLayout tkMainContent  [height]="sharedService.user.screen_height-10">
            <StackLayout>
                <my-action-bar [title]="data.title + ' ' + data.title_small"></my-action-bar>
                <AbsoluteLayout *ngIf="data.filters.length > 0">
                    <Label top="0" left="0" class="shadow"></Label>
                    <filter top="0" left="0"  [filters]="data.filters" [start]="startFilter" (currentFilter)="setCurrentFilter($event)"></filter>
                </AbsoluteLayout>
                
                <!--<Label text="1"></Label>
                <WebImage stretch="aspectFill"  #container height="180"
                                          placeholder="~/images/filterLoad.png"
                                          src="http://foodspa.ru:9090/uploads/products/88ab59a43e034635a10f488df9e823f3.jpg">
                                </WebImage>
                <Label text="2"></Label>-->

                <ScrollView *ngIf="products.length > 0" [height]="listViewHeight">
                    <StackLayout>
                        <StackLayout *ngFor="let item of products" height="180">
                            
                            <AbsoluteLayout height="180">
                                <StackLayout top="0" left="0" width="{{sharedService.user.screen_width}}">
                                    <WebImage stretch="aspectFill" height="180" width="{{sharedService.user.screen_width}}"
                                          placeholder="~/images/filterLoad.png"
                                          [src]="item.image">
                                    </WebImage>
                                </StackLayout>    
                                
                                <!--<Image [src]="item.image" height="180"></Image>-->
                                <Label text="" class="gradient gradient{{class}}" top="30" left="0" backgroundImage="~/images/gradient.png" (tap)="onItemTab(data.name, item.pid)"></Label>
                                <Label [text]="item.title" class="titleProductCatalog" top="72" left="0" (tap)="onItemTab(data.name, item.pid)"></Label>
                                <Label [text]="item.description_small" textWrap="true" class="descSmallProductCatalog"  top="105" left="0" (tap)="onItemTab(data.name, item.pid)"></Label>

                                <GridLayout id="grid{{item.pid}}" columns="100, *, 100" class="addBasketGrid" width="90%" left="0" top="145">
                                    <Label col="0" row="0" [text]="(item.price * counts[item.pid]) +' руб.'" class="priceProductCatalog"></Label>
                                    <Label col="1" row="0" text="{{counts[item.pid]}} шт." class="priceProductCatalog" (tap)="openModal(item)"></Label>
                                    <Label col="2" row="0" class="addBasketBtn" text="В корзину" (tap)="onAddBasketTap(item)"></Label>
                                </GridLayout> 
                                <StackLayout  id="success{{item.pid}}" class="addBasketGrid success" width="90%" left="0" top="145">
                                    <Label text="Товар добавлен в корзину" class="done"></Label>
                                </StackLayout>
                            </AbsoluteLayout>
                        </StackLayout>
                    </StackLayout>
                </ScrollView> 

                <Label text="Извините, в данной категории нет товаров" *ngIf="products.length == 0" class="notFoundProducts"></Label>
            </StackLayout>
        </StackLayout>
    </RadSideDrawer>
</StackLayout>
