/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
/*@import 'nativescript-theme-core/css/core.light.css';*/

Page{
    background-color: #eef2fb;
    font-family: "Calibri-Light";
}

ActionBar{
    background-color: #eef2fb;
}



.fa {
    font-family: "FontAwesome";
}

.font-awesome {
    font-family: "FontAwesome";
    font-size: 20;
    font-weight: normal;
    text-align: center;
    color: black;
}

.sideStackLayout{
    background-color: white;
    font-family: "Calibri-Light";
    font-size: 20;
}

.sideLabel{
    font-size: 20;
    font-family: "Calibri-Light";
    padding: 10 0 10 50;
}

Image.logoMenu{
    width: 120;
    margin: 30 auto;
}

.shadow{
    width: 100%;
    height: 40;
    background-image: url('~/images/gr-actionbar2.png');
    background-repeat: repeat-x;
    z-index: 2;
}