.get-phone{
    margin-top: -20pt;
}

.get-phone TextField{
    width: 100%;
    font-size: 30pt;
    text-align: left;
    font-family: "Calibri-Light";

    border-width: 1;
    border-color: #eef2fb;
    height: 38;
    padding: 0;

    animation-name: opacity;
    animation-duration: 1;
}

.get-phone Image{
    animation-name: opacity;
    animation-duration: 0.5;
}

.grid{
    margin: 20pt auto 0;
    width: 70%;
}

.delimiter{
    height: 2;
    background-color: #a8a8a8;
    width: 70%;
    margin: 10pt auto 0;
}

.text{
    font: 14pt;
    text-align: center;
    width: 70%;
    margin: 5pt auto 0;
    background-color: #eef2fb;
    height: 16pt;
    font-family: "Calibri-Light";
}

.preWord{
    font-size: 30pt;
    text-align: right;
    padding-right: 15pt;
    font-family: "Calibri-Light";
}

.btn{
    width: 70%;
    margin: 10pt auto 0;
    background-color: #22b24c;
    font-family: "Calibri-Light";
    font-size: 18pt;
    border-radius: 15;
    color: white;
}

.desc{
    font: 14pt;
    width: 80%;
    margin: 5pt auto 0;
    background-color: #eef2fb;
    font-family: "Calibri-Light";
}

@keyframes opacity {
    from { opacity: 0.2; }
    to { opacity: 1; }
}

@keyframes translate {
    from { transform: translate(0, -10); }
    to { transform: translate(0, 0); }
}