<!--<ScrollView>-->
    <StackLayout class="get-phone">
        <Image #img src="~/images/phone-header.jpg"></Image>


        <GridLayout columns="auto, *" rows="auto,auto" class="grid">
            <Label text="+7" row="0" col="0" class="preWord"></Label>
            <TextField 
            #phoneNumber
            row="0" col="1"
            keyboardType="phone" 
            focus="true"
                ></TextField>
        </GridLayout>
        <Label class="delimiter"></Label>
        <Label text="Введите свой номер телефона" class="text"></Label>
        <Label text="в формате 9051112233" class="text"></Label>
        
        <Button text="Выслать смс с кодом" class="btn" (tap)="onNext()"></Button>
        <Textview class="desc" text="На этот номер мы вышлем вас смс с кодом активации. Это нужно сделать один раз при установке приложения." editable="false"></Textview>
    </StackLayout>
<!--</ScrollView>-->