.btn{
    text-align: center;
    width: 150;
    background-color: #22b24c;
    font-family: "Calibri-Light";
    font-size: 18;
    color: white;
    border-radius: 5;
}

.label{
    text-align: center;
    font-family: "Calibri-Light";
    font-size: 20;
    margin-top: 20;
    margin-left: 10;
}

.slios{
    margin-top: 10;
    height: 100;
}