<StackLayout>
    <Label text="Выбрать дату" class="label"></Label>
    <DatePicker #datePickerID class="sl{{className}}" height="100" day="9" month="4" year="2017" verticalAlignment="center" horizontalAlignment="center"></DatePicker>
    <Label text="Выбрать время" class="label"></Label>
    <TimePicker #timePickerID class="sl{{className}}" height="100" id="tPicker" hour="23" minute="4" verticalAlignment="center" horizontalAlignment="center"></TimePicker>
    <Button text="Ок" (tap)="close()" class="btn cancel" col="0"></Button>    
</StackLayout>