<!--<StackLayout>-->
    <AbsoluteLayout class="start" id="index{{index}}">
        <Image [src]="data.image" *ngIf="data.image != ''" top="0" left="0" class="itemImage"></Image>    
        <!--<Image src="~/images/category/sok.jpg" top="0" left="0" class="itemImage"></Image>    -->
        <Label [text]="data.title" left="5" top="5" class="itemTitle {{data.color}}"></Label>
        <Label [text]="data.title_small" left="5" top="40" class="itemTitleSmall {{data.color}}"></Label>
    </AbsoluteLayout>
<!--</StackLayout>-->