Label.itemTitle{
    font-family: 'Helvetica Neue LT W1G 45 Light';
    font-size: 35;
}

Label.itemTitleSmall{
    font-family: 'Helvetica Neue LT W1G 45 Light';
    font-size: 20;
}

Image.itemImage{
    height: 167pt;
    width: 525;
}

.gray{
    color: black;
}

.white{
    color: white;
}

.start{
    opacity: 0;
    margin-left: 20;
}