<StackLayout>
    <RadSideDrawer tkExampleTitle tkToggleNavButton *ngIf="!isDisplayPhoneActivate">
        <GridLayout tkDrawerContent class="sideStackLayout" columns="*, 10" >
            <StackLayout col="0">
                <Image src="~/images/logo.jpg" class="logoMenu"></Image>
                <Label *ngFor="let menu of sharedService.data; let i=index" [text]="menu.title + ' ' + menu.title_small " class="sideLabel" (tap)="onMenuTap(menu)"></Label>
            </StackLayout>
            <Label text="" col="2" backgroundColor="#eef2fb" width="10"></Label>
        </GridLayout>
        <StackLayout tkMainContent>
            <my-action-bar></my-action-bar>
                <!--<Label [text]="tst"></Label>
                <Image [src]="imageSrc" stretch="aspectFill" height="100"></Image>-->
                <AbsoluteLayout>
                    <Label top="0" left="0" class="shadow"></Label>
                    <ScrollView [height]="listViewHeight-40" top="0" left="0" [style.zIndex]="1"> 
                        <StackLayout>
                            <StackLayout *ngFor="let item of sharedService.data; let i = index" (tap)="onItemTap(i)">
                                <index-item [data]="item" [index]="i"></index-item>
                            </StackLayout>
                        </StackLayout>
                    </ScrollView>
                </AbsoluteLayout>
            <!--<ListView [items]="sharedService.data" (itemTap)="onItemTap($event)"  [height]="listViewHeight">
                <template let-item="item" let-i="index">
                    <index-item [data]="item"></index-item>
                </template>
            </ListView>-->
        </StackLayout>
    </RadSideDrawer>
</StackLayout>
