.listItems{
    background-color: white;
}

.itemPrice{
    font-family: "Calibri-Light";
    font-size: 16;
    font-weight: bold;
    text-align: right; 
    padding: 10 10 10 0; 
}

.noProducts{
    padding: 10; 
}

.noProducts Label{
    font-family: "Calibri-Light";
    font-size: 16;
    margin-top: 15;
    margin-bottom: 15;
    width: 90%;
    text-align: center;
}

.link{
    font: 14pt;
    width: 80%;
    margin: 15pt auto 0;
    font-family: "Calibri-Light";
    color: #22b24c;
    text-decoration: underline;
    text-align: center;
}

.iositemPrice{

}

.androiditemPrice{
    margin-top: 5;

    font-weight: bold;
}


.itemTitle{
    font-family: "Calibri-Light";
    font-size: 18;
    margin-left: 5%;
    margin-top:5;
}

.itemColl{
    font-family: "Calibri-Light";
    font-size: 16;
    margin-left: 5%;
    padding-top:3;
}

.itemCollEdit{
    font-family: "Calibri-Light";
    font-size: 14;
    border-width: 2;
    border-style: solid;
    border-color: #22b24c;
    color: #22b24c;
    text-align: center;
    border-radius: 8;
    padding-left:5;
    padding-right:5;
}

.iositemCollEdit{
    height: 17;
}

.androiditemCollEdit{
    
}

.itogoWrap{
    background-color: #22b24c;
}

.itogo{
    font-family: "Calibri-Light";
    font-size: 18;
    color: white;
    height: 50;
    width: 90%;
}

.itogoText{
    text-align: left;
}

.iositogoText{
    
}

.androiditogoText{
    padding-top: 15;
}



.itogoSum{
    margin-right: 30;
    text-align: right;
}

.iositogoSum{
    
}

.androiditogoSum{
    padding-top: 15;
}

.btn{
    text-align: center;
    width: 100;
    /*height: 30;*/
    background-color: #22b24c;
    font-family: "Calibri-Light";
    font-size: 18;
    color: white;
    border-radius: 15;
    margin-top: 20;
}

.row{
    width: 100%;
    padding: 5 0 10;
    background-color: white;
    margin-bottom: 20;
}


.delete{
    width: 20;
    height: 20;
    margin: 10 auto;
}

.bg{
    background-image: url('~/images/bg-basket.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
}