<StackLayout>
    <my-action-bar title="корзина" back="true" [basket]="false"></my-action-bar>
    <AbsoluteLayout width="100%">
        <Label top="0" left="0" class="shadow"></Label>
        <StackLayout top="0" left="0" width="100%" class="bg" [height]="listViewHeight">
            <ScrollView [height]="listViewHeight-10" width="100%">
                <StackLayout class="continer">
                    <StackLayout class="noProducts" *ngIf="products.length == 0">
                        <Label text="У вас нет ни одного добавленного товара"></Label>
                        <Label class="link" text="Перейти в основной раздел" (tap)="goMain()"></Label>
                    </StackLayout>
                    <StackLayout class="row" *ngFor="let item of products; let i = index;">
                        <GridLayout columns="*, 100, 30" height="50" class="listItems">
                            <StackLayout col="0">
                                <Label [text]="item.info.title" class="itemTitle" textWrap="true"></Label>
                                <GridLayout columns="60, 100">
                                    <Label [text]="item.count +' шт.'" class="itemColl" col="0"></Label>
                                    <Label text="изменить" class="itemCollEdit {{class}}itemCollEdit" col="1" (tap)="editCol(item, i)"></Label>
                                </GridLayout>
                            </StackLayout>
                            <Label [text]="item.summa + ' руб.'" col="1" class="itemPrice {{class}}itemPrice"></Label>
                            <Image src="~/images/delete.png" col="2" (tap)="deleteFromBasket(item.info.pid, item.info.title)" class="delete"></Image>
                        </GridLayout>
                    </StackLayout>
                    
 
                    <StackLayout class="itogoWrap" *ngIf="products.length > 0">
                        <GridLayout columns="100, *" class="itogo" paddingLeft="0">
                            <Label text="Итого:" col="0" class="itogoText {{class}}itogoText" paddingLeft="0"></Label>
                            <Label text="{{allSum}} руб." col="1" class="itogoSum {{class}}itogoSum"></Label>
                        </GridLayout>
                    </StackLayout>
                
                    <Button text="Далее" class="btn" (tap)="nextStep()" *ngIf="products.length > 0"></Button>
                </StackLayout>
            </ScrollView>
        </StackLayout>
    </AbsoluteLayout>
</StackLayout>