<ScrollView sdkExampleTitle sdkToggleNavButton>
    <StackLayout>
        <Label text='Количество' class="title" textWrap="true"></Label>

        <GridLayout columns="auto, 60, auto" class="myData">
                <Label text="-" (tap)="onMinus()" col="0" class="greenText"></Label>
                <Label [text]="params.context" col="1" class="number"></Label>
                <Label text="+" (tap)="onPlus()" col="2" class="greenText"></Label>
        </GridLayout>
        
        <Button (tap)="closeAdd()" text="ok" class="btn green"></Button>
        <Label class="mr-bt"></Label>

        <!--<GridLayout columns="*, *" class="btns">
            <Button (tap)="close()" text="Закрыть" class="btn gray" col="0"></Button>
            <Button (tap)="closeAdd()" text="Добавить" class="btn green" col="1"></Button>
        </GridLayout>-->
        
    </StackLayout>
</ScrollView>
