.btn{
    font-family: "Calibri-Light";
    font-size: 16;
    width: 90;
    height: 30;
    border-radius: 5;
    padding: 5;
}

.title{
    font-family: "Calibri-Light";
    font-size: 20;
    width: 100%;
    text-align: center;
    margin: 10 0 10;
}

.number{
    text-align: center;
}

.green{
    background-color: #22b24c;
    color: white;
}

.gray{
    background-color: #e5e5e5;
    color: black;
    text-align: center;
}

.myData{
    font-family: "Calibri-Light";
    font-size: 30;
    width: 90;
    margin: 5 5 15 5;
    font-weight: bold;
}

.greenText{
    color: green;
}

.btns{
    margin-bottom: 20;
}

.mr-bt{
    height: 15;
}