<StackLayout>
    <my-action-bar title="Адрес и время доставки" back="true" [basket]="false"></my-action-bar>
    <AbsoluteLayout width="100%">
        <Label top="0" left="0" class="shadow"></Label>
        <ScrollView [height]="listViewHeight" top="0" left="0" [style.zIndex]="1" width="100%"> 
            <StackLayout>
                <!--Адрес доставки-->
                <StackLayout class="boxWhite" width="100%"> 
                    <GridLayout columns="20, *" class="gridTitle">
                        <Image src="~/images/map.png" width="17" col="0" class="imageTitle"></Image>
                        <Label text="Адрес доставки" class="title" col="1"></Label>
                    </GridLayout>
                    
                    <GridLayout columns="20, *" class="row">
                        <Image class="imageTitle" src="~/images/radio.png" col="0" width="20" *ngIf="sharedService.basket.address_id != 0" (tap)="sharedService.basket.address_id = 0"></Image>
                        <Image class="imageTitle" src="~/images/radio-active.png" col="0" width="20" *ngIf="sharedService.basket.address_id == 0"></Image>
                        <Label text="Самовывоз" class="textInRowTitle" col="1" (tap)="sharedService.basket.address_id = 0"></Label>
                    </GridLayout>

                    <Label class="delimiter"></Label>

                    <StackLayout *ngFor="let address of sharedService.addresses; let i = index;">
                        <GridLayout columns="20,*, 40" class="row">
                            <Image class="imageTitle" src="~/images/radio.png" col="0" width="20"  *ngIf="sharedService.basket.address_id != address.id" (tap)="sharedService.basket.address_id = address.id"></Image>
                            <Image class="imageTitle" src="~/images/radio-active.png" col="0" width="20" *ngIf="sharedService.basket.address_id == address.id"></Image>
                            <StackLayout col="1" (tap)="sharedService.basket.address_id = address.id">
                                <Label text="{{address.name}}" class="textInRowTitle"></Label>
                                <Label text="{{address.city}}, {{address.street}}, {{address.house}}, {{address.room}}" class="textInRow"></Label>
                            </StackLayout>
                            <Label text="&#xf040;" class="font-awesome edit" col="2" (tap)="editAdress(address, i)"></Label>
                        </GridLayout>
                        <Label class="delimiter"></Label>
                    </StackLayout>
                    
 
                    <GridLayout columns="20, *" class="gridTitle addGrid">
                        <Image src="~/images/plus.png" width="13" col="0" class="imageAdd"></Image>
                        <Label text="Добавить адрес" col="1" class="addTitle" (tap)="addAdress()"></Label>
                    </GridLayout>
                </StackLayout>

                <!--Время доставки-->
                <StackLayout class="boxWhite">
                    <GridLayout columns="20, *" class="gridTitle">
                        <Image src="~/images/time.png" width="20" col="0" class="imageTitle"></Image>
                        <Label text="Дата и время доставки" class="title" col="1"></Label>
                    </GridLayout>
                    
                    <GridLayout columns="70, *" class="row dateTime">
                        <Label text="Дата" class="fon" col="0"></Label>
                        <Label [text]="date" class="textLink" col="1" (tap)="showDataPiker()"></Label>
                    </GridLayout>
                    
                    <Label class="delimiter"></Label>
                    
                    <GridLayout columns="70, *" class="row dateTime">
                        <Label text="Время" class="fon" col="0"></Label>
                        <Label [text]="time" class="textLink" col="1" (tap)="showDataPiker()"></Label>
                    </GridLayout>
                </StackLayout>
                

                <!--Контактные данные--> 
                <StackLayout class="boxWhite">
                    <GridLayout columns="20, *" class="gridTitle">
                        <Image src="~/images/contact.png" width="20" col="0" class="imageTitle"></Image>
                        <Label text="Контактные данные" class="title" col="1"></Label>
                    </GridLayout>

                    <Label class="atention" text="В первый раз вам необходимо завести контакт, в дальнейшем это не потребуется" textWrap="true" *ngIf="sharedService.contacts.length == 0"></Label>
                    <StackLayout>
                        <GridLayout columns="20, *, 40" class="row" *ngFor="let contact of sharedService.contacts; let i = index;">
                            <Image class="imageTitle" src="~/images/radio.png" col="0" width="20"  *ngIf="sharedService.basket.contact_id != contact.id" (tap)="sharedService.basket.contact_id = contact.id"></Image>
                            <Image class="imageTitle" src="~/images/radio-active.png" col="0" width="20" *ngIf="sharedService.basket.contact_id == contact.id"></Image>
                            <StackLayout col="1"  (tap)="sharedService.basket.contact_id = contact.id">
                                <Label text="{{contact.fio}}" class="textInRowTitle"></Label>
                                <Label text="{{contact.phone}}, {{contact.email}}" class="textInRow"></Label>
                            </StackLayout>
                            <Label text="&#xf040;" class="font-awesome edit" col="2" (tap)="editContact(contact, i)"></Label>
                        </GridLayout>
                        <Label class="delimiter"></Label> 
                    </StackLayout>

                    <GridLayout columns="20, *" class="gridTitle addGrid">
                        <Image src="~/images/plus.png" width="13" col="0" class="imageAdd"></Image>
                        <Label text="Добавить контакт" col="1" class="addTitle" (tap)="createContact()"></Label>
                    </GridLayout>
                </StackLayout>
 
                <!--Комментарий-->
                <StackLayout class="boxWhite">
                    <GridLayout columns="20, *" class="gridTitle">
                        <Image src="~/images/comment.png" width="20" col="0" class="imageTitle"></Image>
                        <Label text="Коментарий" class="title" col="1"></Label>
                    </GridLayout>
                    <!--<Label text="Коментарий" class="title"></Label>-->
                    <StackLayout class="row comment">
                        <TextField #comment textWrap="true"  AcceptsReturn="True" TextWrapping="Wrap" row="20" class="commentRow"></TextField>
                    </StackLayout>
                    <Label class="eee" text="Необходимо заполнить контактные данные для завершения" *ngIf="sharedService.basket.contact_id == 0" textWrap="true"></Label>
                    <Button text="Далее" class="btn" (tap)="nextStep()" *ngIf="sharedService.basket.contact_id != 0"></Button>
                    <Label height="300"></Label>
                </StackLayout>
            </StackLayout>
            
        </ScrollView>
    </AbsoluteLayout>
</StackLayout>


