.boxWhite{
    background-color: white;
    font-family: "Calibri-Light";
    margin-bottom: 10;
    padding-top: 10;
    padding-bottom: 10;
}

.gridTitle{
    padding-bottom: 10;
}

.iosgridTitle{

}

.androidgridTitle{
    
}

.title{
    color: #5871b6;
    font-size: 20;
    margin: 10 5%
}

.imageTitle{
    margin-left: 5%;
}

.row{

}

.delimiter{
    border-bottom-width: 1;
    border-bottom-color: #5871b6;
    text-align: center;
    height: 1;
    width: 90%;
    margin: 7 auto;
    background-color: #5871b6;
}

.textInRowTitle{
    margin: 5 0 0 17;
    font-size: 16;
    font-weight: bold;
}

.textInRow{
    margin: 2 0 0 17;
    font-size: 14;
}

.comment{
    border-bottom-width: 0;
    border-bottom-color: #5871b6;
    margin-left: 5%;
    margin-right: 5%;
}

.comment TextView, .commentRow{
    height: 70;
    border-width: 1;
    border-color: #5871b6;
    border-radius: 5;
    padding: 4;
    
}


.btn{
    text-align: center;
    margin: 10 auto;
    width: 100;
    /*height: 30;*/
    background-color: #22b24c;
    font-family: "Calibri-Light";
    font-size: 18;
    color: white;
    border-radius: 10;
}

.addTitle{
    font-size: 14;
    width: 100%;
    margin-left: 35;
}

.imageAdd{
    margin-left: 6%;
}

.addGrid{
    margin-top: 5;
}

.removeBottom{
    border-bottom-width: 0;
}

.textLink{
    color: #22b24c;
    text-decoration: underline;
}

.edit{
    color: #22b24c;
}

.atention{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10;
    color: red;
    font-size: 16;
}

.fon{
    margin-left: 10;
}

.dateTime{
    margin-top: 3;
    margin-bottom: 3;
}

.eee{
    font-family: "Calibri-Light";
    width: 90%;
    font-size: 16;
    text-align: center;
    margin: 15 0;
    color:red;
    
}