.row{

}

.row Label{
    width: 90%;
    margin: 5 5%;
}

.row TextField{
    border-width: 1;
    border-color: #5871b6;
    border-radius: 4;
    width: 90%;
    margin: 0 5%;
    background-color: white;
    padding: 5;
    font-size: 16;
    font-family: "Calibri-Light";
}


.title{
    font-family: "Calibri-Light";
    font-size: 25;
    margin: 10 5%;

}

.btn{
    text-align: center;
    width: 150;
    background-color: #22b24c;
    font-family: "Calibri-Light";
    font-size: 18;
    color: white;
    border-radius: 5;
}

.cancel{
    background-color: gray;
}

.warning{
    background-color: red;
}

#errorDisplay{
    background-color: red;
    color: white;
    font-size: 16;
    font-family: "Calibri-Light";
    width: 90%;
    margin: 0 5%;
    padding: 3 4;
    opacity: 0;
    min-height: 30;
}

.row2{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10;
}