<StackLayout>
    <ScrollView [height]="scroll">
        <StackLayout>
            <Label *ngIf="params.context.type == 'add'" text="Добавить контакт" class="title"></Label>
            <Label *ngIf="params.context.type != 'add'" text="Изменить контакт" class="title"></Label>
            <Label [text]="errorMSG" id="errorDisplay" *ngIf="errorDisplay"></Label>
            <!--<StackLayout class="row">
                <Label text="Название контакта"></Label>
                <TextField #name></TextField>
            </StackLayout>-->

            <StackLayout>
                <StackLayout class="row">
                    <Label text="ФИО"></Label>
                    <TextField #fio></TextField>
                </StackLayout>

                <StackLayout class="row">
                    <Label text="Телефон"></Label>
                    <TextField #phone></TextField>
                </StackLayout>

                <StackLayout class="row">
                    <Label text="E-mail"></Label>
                    <TextField #email></TextField>
                </StackLayout>
            </StackLayout>
            

            <!--<Button text="Отмена" (tap)="close()"></Button>
            <Button text="Добавить" (tap)="add()"  *ngIf="params.context.type == 'add'"></Button>
            <Button text="Удалить" (tap)="delete()"  *ngIf="params.context.type == 'edit'"></Button>
            <Button text="Сохранить" (tap)="save()"  *ngIf="params.context.type == 'edit'"></Button>-->

            <GridLayout columns="*,10,*" class="row2" *ngIf="params.context.type == 'add'">
                <Button text="Отмена" (tap)="close()" class="btn cancel" col="0"></Button>    
                <Button text="Добавить" (tap)="add()" col="2" class="btn" *ngIf="!isSubmit"></Button>
                <Button text="Добавление" col="2" class="btn cancel" *ngIf="isSubmit"></Button>
            </GridLayout>

            <GridLayout columns="*,10,*" class="row2" *ngIf="params.context.type == 'edit'">
                <Button text="Отмена" (tap)="close()" class="btn cancel" col="0"></Button>    
                <!--<Button text="Удалить" (tap)="delete()" class="btn warning" col="2"></Button>-->
                <Button text="Сохранить" (tap)="save()" class="btn" col="2" *ngIf="!isSubmit"></Button>
                <Button text="Сохранение" col="2" class="btn cancel" *ngIf="isSubmit"></Button>
            </GridLayout>

            <Label height="50"></Label>
        </StackLayout>
    </ScrollView>
</StackLayout>