.detailImage{
    width: 100%;
    height: 200;
}

.detailH1{
    font-family: "Calibri-Light";
    font-size: 25;
    width: 90%;
    margin-left: 5%;
    color: #fff59a;
    font-weight: bold; 
}

.detailH2{
    font-family: "Calibri-Light";
    font-size: 20;
    width: 90%;
    margin-left: 5%;
    color: #ffffff;
    font-weight: bold;
}

.gradient{
  width: 100%;
  height: 150;
  background-repeat: repeat;
  background-position: top;
}

.addBasketGrid{
    background-color: white;
    padding: 4 20%;
    height: 40;
}

.addBasketBtn{
  font-family: "Calibri-Light";
  font-size: 20;
  background-color: #22b24c;
  color: white;
  border-radius: 15;
  text-align: center;
  padding: 0 10;
  margin:2 2 2 0;
}

.addBasketPrice{
    font-weight: bold;
    font-family: "Calibri-Light";
    font-size: 16;
    padding-top: 3;
}

.grDetail{
    width: 100%;
    height: 70;
    background-repeat: repeat-x;
    background-position: top;
    margin-bottom: -40;
}

.getCount{
    padding-top: 3;
    text-align: center;
}

.context{
    margin-top: 10;
}

.params{
    background-color: #eef2fb;
    font-family: "Calibri-Light";
    font-size: 14;
    width: 90%;
    margin: 0 0 5 0;
}

.paramsValue{
    font-family: "Calibri-Light";
    font-size: 14;
    margin-top: 3;
}

.paramsName{
    font-family: "Calibri-Light";
    font-size: 14;
    font-weight: bold;
    padding-left: 50%;
    margin-top: 0;
    margin-bottom: 0;

}

.wrapDescription{
    background-color: white;
    width: 100%;
}

.description{
    font-family: "Calibri-Light";
    font-size: 16;
    /*margin: 10 5% 10 5%;*/
    padding: 10 20%;
    /*width: 90%;*/
    
}

.features{
    font-family: "Calibri-Light";
    font-size: 16;
    width: 90%;
    margin: 10 5% 10 5%;
}

.displayFeatures{
    background-color: #22b24c;
    color: white;
    font-family: "Calibri-Light";
    font-size: 20;
    padding: 5 0 7 20%;
    margin-top: 10;
}

.whiteText{
    color: white;
}

.textet{
    text-decoration: underline;
}

.closeFeatures{
    background-image: url('~/images/close-features-gr.png');
    /*background-image: url('~/images/close-features.png');*/
    background-position: bottom;
    background-repeat: repeat-x;
    height: 25;
    width: 100%;
}

.closeImage{
    width: 100%;
    margin: 0 auto;
}

#success{
    opacity: 0;
    text-align: center;
}