<StackLayout>
    <my-action-bar [title]="item.title" back="true"></my-action-bar>
    <StackLayout>
        <AbsoluteLayout height="220" class="detailImage">
            <StackLayout top="0" left="0" width="{{sharedService.user.screen_width}}">
                                    <WebImage stretch="aspectFill" height="220" width="{{sharedService.user.screen_width}}"
                                          placeholder="~/images/filterLoad.png"
                                          [src]="item.image">
                                    </WebImage>
                                </StackLayout>    
            <Label text="" class="gradient" top="100" left="0" backgroundImage="~/images/gradient.png"></Label>
            <Label [text]="item.title" top="150" class="detailH1"></Label>
            <Label text="{{data.title}} {{data.title_small}}" top="180" class="detailH2"></Label>
        </AbsoluteLayout>
        <GridLayout columns="100, *, 120" class="addBasketGrid" id="grid"  visibility="{{ !success ? 'visible' : 'collapsed' }}">
            <Label col="0" row="0" [text]="(item.price * count) +' руб.'" class="addBasketPrice"></Label>
            <Label col="1" row="0" text="{{count}} шт." class="getCount" (tap)="openModal()"></Label>
            <Label col="2" row="0" text="В корзину" (tap)="onAddBasketTap(item)" class="addBasketBtn"></Label>
        </GridLayout>
        <Label id="success" visibility="{{ success ? 'visible' : 'collapsed' }}" text="Товар добавлен в корзину" class="addBasketGrid"></Label>
        
        <AbsoluteLayout>
            <Label backgroundImage="~/images/gr-detail2.png" class="grDetail" top="0" left="0" [style.zIndex]="2"></Label>
            <ScrollView [height]="listViewHeight" top="0" left="0" [style.zIndex]="1" width="100%"> 
                <StackLayout class="context">
                        <GridLayout class="params" *ngFor="let p of item.params" columns="auto, *">
                            <Label [text]="p.name + ': '" col="0" row="0" class="paramsName"  textWrap="true"></Label>
                            <Label [text]="p.value" col="1" row="0" class="paramsValue"  textWrap="true"></Label>
                        </GridLayout>
                        <StackLayout>
                            <GridLayout class="displayFeatures" columns="auto, *" (tap)="toogleFeatures()" >
                                <Label text="Узнать полезные свойства состава" class="textet" col="0"></Label>
                                <Label text="&#xf107;" *ngIf="!displayFeatures" col="1" class="font-awesome whiteText"></Label>
                                <Label text="&#xf106;" *ngIf="displayFeatures" col="1" class="font-awesome whiteText"></Label>
                            </GridLayout>
                            
                            <StackLayout visibility="{{ displayFeatures ? 'visible' : 'collapsed' }}">
                                <Label [text]="item.features" class="features" textWrap="true"></Label>
                                <AbsoluteLayout (tap)="toogleFeatures()">
                                    <Label class="closeFeatures" top="0" left="0"></Label>
                                    <Image src="~/images/close-features.png" height="25" top="0" left="0" class="closeImage"></Image>
                                </AbsoluteLayout>
                            </StackLayout>
                        </StackLayout>
                        <StackLayout class="wrapDescription">
                            <Label [text]="item.description" textWrap="true" class="description"></Label>
                            <Label height="100"></Label>
                        </StackLayout> 
                </StackLayout>
            </ScrollView>
        </AbsoluteLayout>
    </StackLayout>
</StackLayout>